<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:kie="http://drools.org/schema/kie-spring"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                            http://drools.org/schema/kie-spring http://drools.org/schema/kie-spring.xsd">
  <bean id="kiePostProcessor" class="org.kie.spring.annotations.KModuleAnnotationPostProcessor"/>

  <context:component-scan annotation-config="true" base-package="org.example"/>

  <kie:kmodule id="drools">
    <kie:kbase name="creditKnowledgeBase" packages="org.example.domain.subscription">
      <kie:ksession name="creditKnowledgeSession" type="stateless"/>
    </kie:kbase>
    <kie:kbase name="orderKnowledgeBase" packages="org.example.domain.purchase">
      <kie:ksession name="orderKnowledgeSession" type="stateless"/>
    </kie:kbase>
  </kie:kmodule>
</beans>
